<template name="account">
<!--   {{#autoForm collection="users" id="insertBookForm" type="insert"}}
  <fieldset>
    <legend>Add a Book</legend>
    {{> afQuickField name='phone'}}
    {{> afQuickField name='code'}}
    {{> afQuickField name='nick'}}
    {{> afQuickField name='email'}}
  </fieldset>
  <button type="submit" class="btn btn-primary">Insert</button>
  {{/autoForm}} -->
  <div class="list list-inset">
    <label class="item item-input bottom-dotted-grey">
      <input class="padding-l10" type="text" placeholder="姓名">
    </label>
    <label class="item item-input padding-l10">
      <input id="code-text" class="padding-l10" type="text" placeholder="邮箱">  
    </label>    
  </div>
  <button id="submit" class="button button-full button-positive">
    提交
  </button>
</template>
