// Custom
@import 'app-mixins';
@import 'app-variables';

// Ionic
@import '.meteor/local/build/programs/server/assets/packages/meteoric_ionic-sass/ionic';
@import '.meteor/local/build/programs/server/assets/packages/meteoric_ionicons-sass/ionicons';

/*-----------Ranger-------------*/

/*common*/
.padding-l10 { padding-left: 10px; }
.margin-l10 { margin-left: 10px; }
.f_l { float: left; }
.f_r { float: right; }

body { background: #eee; }
/*homepage*/
#owl-demo .item img{
    display: block;
    width: 100%;
    height: auto;
}
.owl-controls { display: none; }
.home-btn { 
	left: 30%; 
	width: 40%; 
	/*height: 150px;*/ 
	bottom: 40px; 
	z-index: 2; 
	font-size: $button-font-size; 
	position: absolute; 
}
/*user*/
.item-input { padding-left: 10px; }

/*meeting*/
.meeting-count { float: right; }
.meetingName { padding: 0 10px; float: left; }
.item-icon-right { padding-right: 16px; }

.bar .title {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
}

.sign-in-modal {
  p {
    margin: 48px 0;
  }
}

.sign-in-button img {
  margin-top: 6px;
}


.profile-header {
  background: #27272B url("/images/nodes.png") center center no-repeat;
  background-size: cover;
  text-align: center;
  padding: 24px;

  .avatar {
    margin: 0 auto;
  }

  h3, p {
    color: #fff;
    margin-bottom: 0;
  }

  a {
    display: inline-block;
    height: 32px;
    line-height: 32px;
    color: #fff;
    text-decoration: none;

    img {
      vertical-align: middle;
    }
  }
}

.avatar {
  .avatar-image {
    border: 2px solid #fff;
  }

  .avatar-initials {
    border: 2px solid #fff;
    background: $positive;
    color: #fff;
  }
}

