// Custom
@import 'app-mixins';
@import 'app-variables';

// Ionic
@import '.meteor/local/build/programs/server/assets/packages/meteoric_ionic-sass/ionic';
@import '.meteor/local/build/programs/server/assets/packages/meteoric_ionicons-sass/ionicons';

<<<<<<< HEAD
.meetingTime { width: 200px; float: left; }
.meeting-count { float: right; }
.star { float: left; }
.vote { float: right; width: 50px; margin-right: 5px; }
=======
/*-----------Ranger-------------*/

/*common*/
.padding-l10 { padding-left: 10px; }
.margin-l10 { margin-left: 10px; }

body { background: #eee; }
/*homepage*/
#owl-demo .item img{
    display: block;
    width: 100%;
    height: auto;
}
.owl-controls { display: none; }
.home-btn { 
	left: 30%; 
	width: 40%; 
	height: 150px; 
	bottom: 50px; 
	z-index: 2; 
	font-size: $button-font-size; 
	position: absolute; 
}
/*user*/
.item-input { padding-left: 10px; }
>>>>>>> Ranger
